body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-light);
  color: var(--text-light);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import "colors.css";


.uc {
  width: 70vh;
  max-width: 100vw;
  margin: auto;
  display: block;
}

.kids {
  width: 35vw;
}

.Archive {
  position: relative;
  overflow-x: hidden;
  width: 100vw;
  padding: 50px 0;
  background: rgb(66,88,166);
background: linear-gradient(0deg, rgba(66,88,166,1) 0%, rgba(12,54,113,1) 100%);
}
#pot {
  bottom: 10%;
  left: -20px;
  position: absolute;
  /* animation: ease-in infinite;
  animation-name: run;
  animation-duration: 10s;
  -webkit-animation: ease-in infinite;
  -webkit-animation-name: run;
  -webkit-animation-duration: 10s; */
}

@keyframes run {
  0% {
    left: -70%;
    -webkit-transform: scaleX(1);
  }
  49% {
    -webkit-transform: scaleX(1);
  }
  50% {
    left: 180%;
    -webkit-transform: scaleX(-1);
  }
  99% {
    -webkit-transform: scaleX(-1);
  }
  100% {
    left: -70%;
    -webkit-transform: scaleX(1);
  }
}

@-webkit-keyframes run {
  0% {
    left: -70%;
    -webkit-transform: scaleX(1);
  }
  49% {
    -webkit-transform: scaleX(1);
  }
  50% {
    left: 180%;
    -webkit-transform: scaleX(-1);
  }
  99% {
    -webkit-transform: scaleX(-1);
  }
  100% {
    left: -70%;
    -webkit-transform: scaleX(1);
  }
}

p {
  color: var(--text-light);
}

/* A link that has not been visited */
a:link {
  color: var(--text-light);
  text-decoration: none;
}
/* A link that has been visited */
a:visited {
  color: var(--text-light);
  text-decoration: none;
}
/* A link that is hovered on */
a:hover {
  color: var(--text-light);
  text-decoration: none;
}
/* A link that is selected */
a:active {
  color: var(--text-light);
}
/* NAV */
/* NAV */
/* NAV */
/* NAV */
/* NAV */
/* NAV */
/* NAV */
/* NAV */
/* NAV */
/* NAV */
/* NAV */
/* NAV */
/* NAV */
/* NAV */
/* NAV */
/* NAV */
/* NAV */
/* NAV */
/* NAV */
/* NAV */

.top-nav {
  width: 100vw;
  margin: auto;
  text-align: center;
}

.bottom-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 0 10px 0;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
}

.navLink {
  /* background-color: var(--bg-dark); */
 flex-grow: 1;
  text-align: center;
  /* height: 8vh;
  line-height: 8vh; */

}

.underline {
  padding: 0 12px 5px 0px;
  border-bottom: 2px solid currentColor;
  display:inline-block;
}

.underline:hover {
  padding: 0 12px 2px 0px;
  border-bottom: 5px solid currentColor;
  display:inline-block;
}

.active {
  padding: 0 12px 2px 0px;
  border-bottom: 5px solid currentColor;
  display:inline-block;
}

@media (min-width: 900px) {
  .topper-nav {
    display: flex;
    flex-direction: row;
  }
  .top-nav {
    width: 30vw;
    margin: auto;
    text-align: center;

  }
  .bottom-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70vw;
    padding: 0;
  }
  .navLink {
    /* background-color: var(--bg-dark); */
    flex-grow: 1;
    text-align: center;
  }
  }
  
@media (max-width: 600px) {
  .bottom-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 0 10px 0;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
  }
  
  .navLink {
    /* background-color: var(--bg-dark); */
    width: 20vw;
    text-align: left;
    padding-left: 13vw;
    padding-bottom: 20px;
  }
  }
  



/* BIO */
/* BIO */
/* BIO */
/* BIO */
/* BIO */
/* BIO */
/* BIO */
/* BIO */
/* BIO */
/* BIO */
/* BIO */
/* BIO */
/* BIO */
/* BIO */
/* BIO */
/* BIO */
/* BIO */
/* BIO */
/* BIO */
/* BIO */

.bio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 4vw;
  padding: 50px 0;
  width: 92vw;
  
}



@media (max-width: 700px) {
  .bio {
    justify-content: center;
  }
  .bio p  {
    width: 90vw;
    margin: auto;
    padding: 20px 0;
  }

  .germany {
    min-height:200px;
    width: auto;
    height: auto;
    max-width: 90vw
  }

  .books {
    min-height:200px;
    width: auto;
    height: auto;
    max-width: 90vw
  }

  .ballerina {
    min-height:200px;
    width: auto;
    height: auto;
    max-width: 90vw
  }

  .headshot {
    width: 250px;
    height: auto
  }


  }

@media (min-width: 700px) and (max-width: 800px) {
    /* .bio p  {
      padding: 0 25px;
      margin: auto;
    } */
  
    /* .item-a {
      max-height:500px;
      width: auto;
      height: auto;
      max-width: 30vw
    } */

    .young-pat {
      width: 25vw;
      height: auto;
      padding: 20px 0;
      order: 0
    }

    .first-text {
      width: 60vw;
      order: 0;
      margin: auto;
    }

    .second-text {
      order: 0;
      width: 50vw
    }

    .ballerina {
      width: 25vw;
      height: 29.46vw;
      margin: auto;
      order: 1
    }

    .germany {
      width: 70vw;
      height: auto;
      padding: 25px 0;
      margin: auto;
    }

    .books {
      width: 90vw;
      height: auto;
    }

    .after {
      order: 2
    }

    .headshot {
      width: 250px;
      height: auto;
      margin: auto;
    }
  
}

@media (min-width: 800px) and (max-width: 992px) {
  /* .bio p  {
    padding: 0 25px;
    margin: auto;
  } */

  /* .item-a {
    max-height:500px;
    width: auto;
    height: auto;
    max-width: 30vw
  } */

  .young-pat {
    margin: auto;
    padding: 25px 0;
  }

  .first-text {
    width: 60vw;
    order: 0;
    margin: auto;
  }

  .second-text {
    order: 0;
    width: 50vw;
    margin: auto;
  }

  .ballerina {
    width: 25vw;
    height: 29.46vw;
    margin: auto;
    order: 1;
    padding: 20px 0;
  }

  .germany {
    width: 35vw;
    height: auto;
    padding: 25px 0;
    margin: auto;
    order: 2
  }

  .third-text {
    width: 50vw;
    margin: auto;
    order: 2
  }

  .books {
    width: 40vw;
    height: auto;
    order: 3;
    padding: 25px 0;
  }

  .fourth-text {
    width: 50vw;
    margin: auto;
    order: 2
  }

  /* .after {
    order: 2
  } */

  .fifth-text {
    order: 5;
    width: 50vw;
    margin: auto;
  }
  .headshot {
    margin: auto;
    order: 4;
    width: 250px;
    height: auto
  }

}

@media (min-width: 992px) {
  .bio p  {
    padding: 15px 0;
    margin: auto;
  }

  /* .item-a {
    max-height:500px;
    width: auto;
    height: auto;
    max-width: 30vw
  } */

  .young-pat {
    height: 250px;
    width: auto;
    order: 0;
    margin: 0 5px 0 auto; 
  }

  .headshot {
    height: 250px;
    width: auto;
    order: 0;
    margin: 0 auto 0 5px; 
  }

  .first-text {
    width: 80vw;
    order: 1;
    margin: auto;
  }

  .second-text {
    width: 80vw;
    order: 1;
    margin: auto;
  }

  .ballerina {
    width: 30vw;
    height: 35.37vw;
    margin: auto;
    order: 2;
    padding: 20px 0;
  }

  .germany {
    width: 35vw;
    height: auto;
    padding: 20px 0;
    margin: auto;
    order: 2
  }

  .third-text {
    width: 80vw;
    margin: auto;
    order: 1
  }

  .books {
    width: 40vw;
    height: auto;
    order: 2;
    padding: 25px 0;
    margin: auto;
  }

  .fourth-text {
    width: 80vw;
    margin: auto;
    order: 1
  }

  /* .after {
    order: 2
  } */

  .fifth-text {
    width: 80vw;
    order: 1;
    margin: auto;
  }


}

/* BOOKS */
/* BOOKS */
/* BOOKS */
/* BOOKS */
/* BOOKS */
/* BOOKS */
/* BOOKS */
/* BOOKS */
/* BOOKS */
/* BOOKS */
/* BOOKS */
/* BOOKS */
/* BOOKS */
/* BOOKS */
/* BOOKS */
/* BOOKS */
/* BOOKS */
/* BOOKS */
/* BOOKS */
/* BOOKS */

.blue {
  background-color: blue;
}

.square {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.horiz-tile {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 50px;
}

.horiz-tile:hover {
  cursor: pointer;
}

.h-title {
  padding-left: 25px;
}


.books-center-div
    {
            margin: 0 auto;
            width: 90%; 
            padding: 10px;

    }

.books-cover-container {
        padding: 4%;
        margin: 2px;
        display: flex;
        align-items: center; 
        justify-content: center; 
}

.books-cover-container:hover {
  cursor: pointer;
}

.books-book-image {
        width: 200px;
        height: 200px;
        object-fit: cover;
}

.books-title {
  height: 70px;
  width: 200px;
  margin: 10px 0;
}

.category-select {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 750px) {
  .category-select {
          display: grid;
          grid-template-columns: 1fr 1fr;
          }
  }
  @media (max-width: 500px) {
    .category-select {
            display: grid;
            grid-template-columns: 1fr;
            }
    }

.books-wrapper {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
      }

@media (max-width: 1100px) {
.books-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        }
}

@media (max-width: 750px) {
.books-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        }
}

@media (max-width: 500px) {
        .books-wrapper {
                display: grid;
                grid-template-columns: 1fr;
              }
}

.book-select {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin: auto;
  padding: 5px 0;
}

.book-button {
  background-color: #eee;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  cursor: pointer;

}

.book-button:hover {
  background-color: #bbb;
}

.selected {
  background-color: #ccc;
}


/* NEWS */
/* NEWS */
/* NEWS */
/* NEWS */
/* NEWS */
/* NEWS */
/* NEWS */
/* NEWS */
/* NEWS */
/* NEWS */
/* NEWS */
/* NEWS */
/* NEWS */
/* NEWS */
/* NEWS */
/* NEWS */
/* NEWS */
/* NEWS */
/* NEWS */
/* NEWS */

@media (max-width: 700px) {
  .News {
    display: grid;
    grid-template-rows: auto 20px auto;
    margin: 0 3vw;
    padding: 0 0 50px;
  }

  .otr {
    padding-top: 25px;
  }

  .news-right {
    width: 90vw
  }
  
  }

  @media (min-width: 700px) {
    .News {
      display: grid;
      grid-template-columns: 30% 2% 68%;
      margin: 0 6vw;
      padding: 0 0 50px;
    }
    
    }

.otr {
  text-align: left
}

.news-right {
  overflow-wrap: break-word;
}

/* CBBC */
/* CBBC */
/* CBBC */
/* CBBC */
/* CBBC */
/* CBBC */
/* CBBC */
/* CBBC */
/* CBBC */
/* CBBC */
/* CBBC */
/* CBBC */
/* CBBC */
/* CBBC */
/* CBBC */
/* CBBC */
/* CBBC */
/* CBBC */
/* CBBC */
/* CBBC */

.cbbc-center-div
    {
            margin: 0 auto;
            width: 80%; 
            padding: 10px;
            background-color: var(--bg-light);
    }

.cbbc-img {
    width: 100%;
}

/* FAQ */
/* FAQ */
/* FAQ */
/* FAQ */
/* FAQ */
/* FAQ */
/* FAQ */
/* FAQ */
/* FAQ */
/* FAQ */
/* FAQ */
/* FAQ */
/* FAQ */
/* FAQ */
/* FAQ */
/* FAQ */
/* FAQ */
/* FAQ */
/* FAQ */
/* FAQ */

.faq-center-div
    {
            margin: 0 auto;
            width: 80%;
            /* padding: 10px; */
            background-color: var(--bg-light);
            padding-bottom: 100px;
    }


@media (min-width: 800px) {
.goodie-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 25px 0;
}

.goodie-div {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 7px dashed #ccc;
  border-radius: 40px;
}

.goodie-div:hover {
  border: 7px dashed #aaa;
  border-radius: 30px;
}
}

@media (max-width: 800px) {
  .goodie-box {
    display: flex;
    flex-direction: column;
    padding: 25px 0;
    align-items: center;
  }
  
  .goodie-div {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 7px dashed #ccc;
    border-radius: 40px;
    margin: 10px;
  }
  
  .goodie-div:hover {
    border: 7px dashed #aaa;
    border-radius: 30px;
  }
  }


.icon {
  width: 125px;
  height: 125px;
  background-color: red;
}

.faq-img {
    /* width: 80%; */
    max-width: 72vw;
    margin: 0 8vw;
}



/* SHOW */
/* SHOW */
/* SHOW */
/* SHOW */
/* SHOW */
/* SHOW */
/* SHOW */
/* SHOW */
/* SHOW */
/* SHOW */
/* SHOW */
/* SHOW */
/* SHOW */
/* SHOW */
/* SHOW */
/* SHOW */
/* SHOW */
/* SHOW */
/* SHOW */
/* SHOW */

.show-page-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "title title title title title title"
    "image image description description description description"
    "slideshow slideshow slideshow slideshow slideshow slideshow"
    "reviews reviews reviews bookmarks bookmarks bookmarks";
  width: 90vw;
  margin: auto;
  grid-gap: 2em;
  padding: 5vh 0;
  
}

.book-back {
  background-color: #eee;
  height: 45px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  display: flex;

}

.book-back:hover {
  background-color: #bbb;
}

.show-svg {
  height: 25px;
  padding: 10px;
  margin-left: 5vw;
}

.show-title {
  grid-area: title;
}

.show-image {
  grid-area: image;
  width: 100%
}

.show-description {
  grid-area: description;
}

.show-slideshow {
  grid-area: slideshow;
}

.show-reviews {
  grid-area: reviews;
  width: 90%;
  margin: 0 auto ;
}

.show-bookmarks {
  grid-area: bookmarks;
  width: 90%;
  margin: 0 auto ;
  
}

.bookmarks {
  padding: 0.5em;
}

.publisher {
  text-align: right;
}

/* 
.sidebar {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 10px;
  width: 100%

}

.left {
  padding: 10px;
  background-color: var(--bg-dark);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.left img {
  width: 100%;
  height: auto;
}

.right {
  padding: 10px;
  background-color: var(--bg-dark);
  text-align: center;
}

.parentDiv {
  margin: 0 auto;
  padding: 5px;
  background-color: var(--bg-light);
  width: 80%;
}

.reviews {
  background-color: var(--bg-dark);
  padding: 5px 20px;
}
.reviews p {
  font-size: 90%;
}

.bookmarks {
  background-color: var(--bg-light);
  padding: 5px;
}

.titlebox {
  background-color: var(--bg-light);
  padding: 5px;
}

.picturebox {
  background-color: var(--bg-light);
  padding: 5px;
}

.picturebox img {
  width: 80%;
}
 */


/* HOME */
/* HOME */
/* HOME */
/* HOME */
/* HOME */
/* HOME */
/* HOME */
/* HOME */
/* HOME */
/* HOME */
/* HOME */
/* HOME */
/* HOME */
/* HOME */
/* HOME */
/* HOME */
/* HOME */
/* HOME */
/* HOME */
/* HOME */

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90%;
  margin: auto;
  padding: 5vh 0;
}

.home-image {
  object-fit: cover;
  width: 250px;
  height: 150px;
}

.overlay {
  width: 250px;
  height: 150px;
  margin: 20px;
}

.overlay:hover {
  background-color: #000;
  /* opacity: 0.5; */;
  cursor: pointer;
}

.overlay:hover > .home-image {
  opacity: 0.8;
}

.image-popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  z-index: 3;
  background-color: #000;
  opacity: 0.9;
}

.highlight-image {
  position: absolute;
  bottom: 10vh;
  left: 10vw;
  width: 80vw;
  height: 80vh;
  object-fit: contain;
  z-index: 4;
}



/* CAROUSEL */
/* CAROUSEL */
/* CAROUSEL */
/* CAROUSEL */
/* CAROUSEL */
/* CAROUSEL */
/* CAROUSEL */
/* CAROUSEL */
/* CAROUSEL */
/* CAROUSEL */
/* CAROUSEL */
/* CAROUSEL */
/* CAROUSEL */
/* CAROUSEL */
/* CAROUSEL */
/* CAROUSEL */
/* CAROUSEL */
/* CAROUSEL */
/* CAROUSEL */
/* CAROUSEL */

.caro-container {
  display: grid;
  width: 100%;
  grid-template-rows: auto auto;
  grid-gap: 15px;
}

.caro-image {
  width: 100%;
  /* min-height: 400px; */
  height: 60vh;
  max-height: 550px;
  object-fit: contain;
}

.caro-bottom-row {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  height: auto;
}

.back-button {
  width: 100%
}

.forward-button {
  width: 100%
}

.caro-caption {
  width: 90%;
  margin: auto
}

.svg {
  display: block;
  margin: auto;
  padding: 10px 0;
  width: 20px;
  height: 50px;
}

/* CONTACT */
/* CONTACT */
/* CONTACT */
/* CONTACT */
/* CONTACT */
/* CONTACT */
/* CONTACT */
/* CONTACT */
/* CONTACT */
/* CONTACT */
/* CONTACT */
/* CONTACT */
/* CONTACT */
/* CONTACT */
/* CONTACT */
/* CONTACT */
/* CONTACT */
/* CONTACT */
/* CONTACT */
/* CONTACT */

.contact {
  width: 300px;
  padding-top: 100px;
  margin: auto;
  text-align: left;
}